@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@700&family=Playfair+Display:ital,wght@1,800&family=Poppins:wght@500;600&family=Slabo+27px&display=swap');

/* utilities */

body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Slabo 27px', serif;

}

.spacing{
    margin-top: 150px;
}
.semi-spacing{
    margin-top: 100px;
}
.p-spacing{
    padding-top: 150px;
}
.special{
    position: absolute;
    right: 18px;
    top: -10px;
}
.special-box{
    background-color: rgba(46, 65, 83, 0.699);
    color: cornsilk;
}
.btn-black{
    background-color: black;
    border: 1px solid white;
}
.-m-top-10{
    margin-top: -5px;
}
.b-r-5{
    border-radius: 20px;
}
.custom-footer{
    background-color: black;
    color: cornsilk;
    height: 200px;
}
a{
    text-decoration: none;
}
@media only screen and (max-width: 576px){
    .special-box{
        margin-top: 30px;
    }
    footer p{
        text-align: center;
        margin-top: 5px;
    }
    .right-button{
        margin-bottom: 10px;
    }
    .first-slide p{
        
        font-size: 10px;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .first-slide h1{
        font-size: 12px;
    }
}
